<% provide(:title, "Home") %>
  <div class="center jumbotron">
    <h1>Members Only Club!</h1>
      <%= link_to "New Post", new_post_path, class: "btn btn-lg btn-primary" %>


      <ul class="posts">
        <%= render @posts %>
      </ul>

      <%= will_paginate %>



